<div class="blue-window purple-glow fadeInTransparent">
	<mat-progress-bar style="margin-top: -10px;" color="accent" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
	<h1 class="text-center">My orders</h1>
	<div class="container text-center fadeIn" *ngIf="!error && !loading">
		<ul class="row product-list" *ngIf="products">
			<li class="col col-md-4 fadeIn" *ngFor="let prod of products">
				<mat-card>
				  <mat-card-header>
				    <mat-card-title>#{{ prod.id }}. {{ prod.name }}</mat-card-title>
				  </mat-card-header>
				  <img mat-card-image src="{{ prod.image }}" alt="{{ prod.name }}">
				  <mat-card-content>
				    <p>
				      {{ prod.description }}
				    </p>
				    <p>
				    	<strong>PRICE:</strong> {{ prod.price }}
				    </p>
				  </mat-card-content>
				  <mat-card-actions>
				    <button mat-flat-button (click)="downloadProduct(prod.id)" color="warn"><mat-icon>download</mat-icon>Download</button>
				  </mat-card-actions>
				</mat-card>
			</li>
		</ul>
	</div>
	<div class="container text-center red fadeIn" *ngIf="error">
		Couln't connect to Vending Machine's contract.<br>
		Please verify that your wallet is connected to the right network (ROPSTEN).
	</div>

</div>
<app-footer></app-footer>