<mat-toolbar class="fadeIn" color="primary">
  <button mat-icon-button class="" aria-label="Close menu" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="menu-spacer"></span>
  <button mat-icon-button 
    color="accent" 
    class="" 
    aria-label="Wallet connected"
    matTooltip="Wallet is connected"
    *ngIf="!walletNotFound && isLoggedIn()">
    <mat-icon>lock</mat-icon>
  </button>
  <button mat-icon-button 
    color="warn" 
    class="" 
    aria-label="Wallet disconnected"
    (click)="login()"
    matTooltip="Connect wallet"
    *ngIf="!walletNotFound && !isLoggedIn()">
    <mat-icon>lock_open</mat-icon>
  </button>
</mat-toolbar>
<div class="secondary-toolbar fadeIn container-fluid">
  <div class="row">
    <div class="main-ethereum-address col-12 col-md-6 text-left" *ngIf="network">
      <span class="green">Network:</span> {{ network }}
    </div>
    <div class="main-ethereum-address col-12 col-md-6 text-right" *ngIf="mainAddress">
      <span class="green">Address:</span> {{ mainAddress }}
    </div> 
  </div> 
</div>