<div class="container">
	<h1 class="text-left">Add product!</h1>
	<div class="container">
		<form class="row" [formGroup]="productForm" (ngSubmit)="onSubmit()">
			<mat-form-field class="col" appearance="fill">
		    <mat-label>Name:</mat-label>
		    <input matInput formControlName="name" required>
		  </mat-form-field>
		  <br>
		  <mat-form-field class="col" appearance="fill">
		    <mat-label>Description:</mat-label>
		    <input matInput formControlName="description" required>
		  </mat-form-field>
		  <br>
		  <mat-form-field class="col" appearance="fill">
		    <mat-label>Image:</mat-label>
		    <input matInput formControlName="image" required>
		  </mat-form-field>
		  <br>
		  <mat-form-field class="col-6" appearance="fill">
		    <mat-label>Quantity:</mat-label>
		    <input type="number" matInput formControlName="quantity" required>
		  </mat-form-field>
		  <br>
		  <mat-form-field class="col-6" appearance="fill">
		    <mat-label>Price (in wei):</mat-label>
		    <input type="number" matInput formControlName="price" required>
		  </mat-form-field>
		  <br>

		  <div class="col-12 text-center">
		  	<button [disabled]="!productForm.valid || loading"
			  	mat-flat-button
			  	color="accent"
			  	type="submit">
			  	<mat-icon>save</mat-icon>&nbsp;&nbsp;Save
		  	</button>

		  </div>
		  

		</form>
	</div>
</div>